body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  margin: 0;
  padding: 0;
}

.switch {
  position: absolute;
  padding: 8px 12px;
  background: white;
  border-radius: 8px;
  bottom: 20px;
  right: 20px;
}

.zoom_slider {
  position: absolute;
  padding: 8px 12px;
  background: white;
  border-radius: 8px;
  writing-mode: vertical-lr;
  direction: rtl;
  top: 20px;
  right: 20px;
}

.sliderLabel {
  writing-mode: horizontal-tb;
}
